<link rel="stylesheet" type="text/css" href="/public/css/foodDetail.css">


<!--<link rel="stylesheet" href="/public/css/elegant-icons.css" type="text/css">-->

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">


<!--<div style=" margin:0 20%;border: 1px solid">-->

<!--    <div style="width: 800px;height: 500px;">1</div>-->

<!--</div>-->

<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__item">
                        <img class="product__details__pic__item--large"
                             src={{filename}} alt="">
                    </div>


                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product__details__text">
                    <h3>{{foodName}}</h3>

                    <div class="product__details__price">${{foodPrice}}</div>
                    <p>{{foodDes}}</p>
                    <div class="product__details__quantity">
                        <div class="quantity">
                            <div class="pro-qty">
                                <input id="orderAmount" type="text" value="1">
                            </div>
                        </div>
                    </div>
                    <div id="orderButton" style="cursor: pointer;" class="primary-btn"><span
                            style=" text-decoration: none;color:inherit;">Order now</span></div>


                    <i class="bi bi-suit-heart-fill" style="font-size: 2rem; color: darkgrey;   "></i>


                    <i class="bi bi-suit-heart-fill" style="font-size: 2rem; color: red; "></i>

                    <ul>
                        <li><b>Stock</b> <span>{{stock}}</span></li>
                        <li><b>Shipping</b> <span>01 day shipping. <samp>Free pickup today</samp></span></li>
                        <li><b>Weight</b> <span>0.5 kg</span></li>
                        <li><b>Share on</b>
                            <div class="share">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>


        </div>


        <div class="row d-flex justify-content-center">
            <div class="col-md-8 col-lg-12">
                <div class="card shadow-0 border" style="background-color: #f0f2f5;">
                    <div class="card-body p-4">
                        <form class="form-outline mb-4" method="post" action="/food/comment/{{foodId}}">
                            <input type="text" id="addANote" class="form-control" name="commentContent"
                                   placeholder="Type comment..."/>
                            <button type="submit">comment</button>
                        </form>
                        {{#each comments}}
                            <div class="card mb-4">
                                <div class="card-body">
                                    <p>{{this.commentContent}}</p>

                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex flex-row align-items-center">
                                            <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(4).webp"
                                                 alt="avatar" width="25"
                                                 height="25"/>
                                            <p class="small mb-0 ms-2">{{this.userName}}</p>
                                        </div>
                                        <div class="d-flex flex-row align-items-center">
                                            <p class="small text-muted mb-0">{{this.time}}</p>
                                            <p style="display: none" >{{this.commentId}}</p>

                                            {{#if this.isMine}}
                                                <button class="deleteButton" type="button">delete</button>
                                            {{/if}}

                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{/each}}


                    </div>
                </div>
            </div>
        </div>


    </div>
</section>


<script type="text/javascript">

    var proQty = $('.pro-qty');
    proQty.prepend('<span class="dec qtybtn">-</span>');
    proQty.append('<span class="inc qtybtn">+</span>');
    proQty.on('click', '.qtybtn', function () {
        var $button = $(this);
        var oldValue = $button.parent().find('input').val();
        if ($button.hasClass('inc')) {
            var newVal = parseFloat(oldValue) + 1;
        } else {
            // Don't allow decrementing below zero
            if (oldValue > 0) {
                var newVal = parseFloat(oldValue) - 1;
            } else {
                newVal = 0;
            }
        }
        $button.parent().find('input').val(newVal);
    });

    $("#orderButton").click(function (event) {

        let amount = $("#orderAmount")[0].value;


        let href = "/food/order/{{foodId}}/" + amount
        window.location.href = href;

    });



    $(".deleteButton").click(function (event) {

        let commentId=$(this).prev()[0].innerHTML
        let href = "/food/deleteComment/" + commentId

        window.location.href = href;

    });


</script>