<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
<link rel="stylesheet" type="text/css" href="/public/css/addFood.css">

<!--<link rel="stylesheet" href="/public/css/elegant-icons.css" type="text/css">-->




<!--<div style=" margin:0 20%;border: 1px solid">-->

<!--    <div style="width: 800px;height: 500px;">1</div>-->

<!--</div>-->

{{#if msg}}
<div class="container position-absolute err-message-alert">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{msg}}
        <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="alert"></button>
    </div>
</div>
{{/if}}

<div class="container mt-3">
    <div class="d-flex justify-content-center">
        <div class="col-8 d-flex">
            <div class="col-4 me-2 justify-content-center d-flex">
                <div id="img-preview" class="d-flex justify-content-center">
                    <div class="text-center align-self-center">
                        <img class="img-fluid" src="/{{filename}}">
                    </div>
                </div>
            </div>
            <div class="col-8 ms-2">
            <form method="post" enctype="multipart/form-data">
                <div class="input-group mb-3">
                    <span class="input-group-text">Food Name</span>
                    <input type="text" class="form-control" name="foodName" value="{{foodName}}">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    <input name="foodPrice" type="text" value="{{foodPrice}}" class="form-control" aria-label="Amount (to the nearest dollar)">
                    <span class="input-group-text">.00</span>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">Description</span>
                    <textarea class="form-control" name="foodDes" aria-label="With textarea">{{foodDes}}</textarea>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">Stock</span>
                    <input name="stock" type="number" min="1" class="form-control" value="{{stock}}">
                </div>

                <input hidden
                    name="imageForMulter"
                    accept="image/*"
                    type="file"
                    id="select-image"
                    class="form-control">
                
                <div class="text-end">
                    <button class="btn btn-success mt-4" type="submit">Submit</button>
                </div>
            </form>
        </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#img-preview').on('click', () => {
        $('#select-image').click();
    });
    $('#select-image').on('change', uploadImg)
    function uploadImg(fileChangeEvent) {
        var file = fileChangeEvent.target.files[0];
        var reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = function (event) {
            $('#img-preview .bi.bi-plus').hide();
            var e = event || window.event;
            $('#img-preview img').attr('src', e.target.result);
        }
    }

    var proQty = $('.pro-qty');
    proQty.prepend('<span class="dec qtybtn">-</span>');
    proQty.append('<span class="inc qtybtn">+</span>');
    proQty.on('click', '.qtybtn', function () {
        var $button = $(this);
        var oldValue = $button.parent().find('input').val();
        if ($button.hasClass('inc')) {
            var newVal = parseFloat(oldValue) + 1;
        } else {
            // Don't allow decrementing below zero
            if (oldValue > 0) {
                var newVal = parseFloat(oldValue) - 1;
            } else {
                newVal = 0;
            }
        }
        $button.parent().find('input').val(newVal);
    });


</script>