
<link rel="stylesheet" type="text/css" href="/public/css/foodDetail.css">


<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__item">
                        <img class="product__details__pic__item--large" src=/{{filename}} >
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product__details__text">
                    <h3>{{restaurantName}}</h3>
                    <p>{{description}}</p>
                    <ul>
                        <li><b>address</b> <span>{{address}}</span></li>
                        <li><b>phone</b> <span>{{phone}}</span></li>
                       
                    </ul>
                </div>
            </div>
        </div>



        <div>
            {{#if itemsArray}}
                <div class="album py-5 bg-light">
                    <div class="container">
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                            {{#each itemsArray}}

                                {{> food_list_item parameter=this}}


                            {{/each}}
                        </div>
                    </div>
                </div>
            {{/if}}
        </div>

    </div>
</section>










