<link rel="stylesheet" type="text/css" href="/public/css/foodList.css">

<div class="col">
    <div class="card shadow-sm">

        <div class="card-img d-flex justify-content-center">
            <img src="/{{filename}}" class="img-fluid align-middle">
        </div>

        <div class="card-body">
            <p class="card-text foodName">{{foodName}}</p>
            <p class="card-text foodDes">{{foodDes}}</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary" onclick="javascript:window.location.href='/food/detail/{{_id}}'">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary" onclick="javascript:window.location.href='/food/edit/{{_id}}'">Edit</button>
                </div>
                <small class="text-muted">{{#if likes}}{{likes}}{{else}}0{{/if}} likes</small>
            </div>
        </div>
    </div>
</div>



